<section class="portfolio-s1 container-fluid d-flex minh-50vh align-items-center py-5 bg-dark">
    <div class="row mx-0 w-100 mt-5 pt-5">
        <div class="col-12 col-md-5 mx-auto minh-50vh d-flex align-items-center">
            <div class="w-100 text-center text-shadow"> 
                <img src="img/navbar_logo.png" class="img-fluid" alt="logo"/>
                <h2 class="display-6 text-white-50 text-uppercase">
                    Lorem ipsum dolor
                </h2>
                <p class="lead text-white">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
                    quae ab illo inventore veritatis et quasi architecto beatae vitae 
                    dicta sunt explicabo. 
                </p>
            </div>
        </div>
    </div>
</section>
<section class="portfolio-s2 container-fluid d-flex minh-25vh bg-light align-items-center py-5 border-top">
    <div class="row mx-0 w-100">
        <div class="col-11 col-sm-9 col-md-7 mx-auto">
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 mb-4">
                <div class="row">
                    <div class="col-4 bg-secondary">
                        <img src=".." class="card-img" alt="image"/>
                    </div>
                    <div class="col-8 p-3">
                        <h4 class="card-title fw-bold text-secondary">
                            Lorem ipsum dolor
                        </h4>
                        <h5 class="card-subtitle mb-3 fst-italic">
                            Lorem ipsum
                        </h5>
                        <p class="card-text text-muted">
                            Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam, quis nostrud exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio-s3 container-fluid d-flex minh-50vh align-items-center py-5 border-top">
    <div class="row mx-0 w-100 px-3 text-shadow">
        <div class="col-12 py-3">
            <h2 class="display-6 text-center text-md-start text-white text-uppercase">
                Lorem ipsum dolor
            </h2>
        </div>
        <div class="col-12 col-md-3 mx-auto text-center text-md-start">
            <p class="initialism text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.
            </p>
        </div>
        <div class="d-none d-md-block mx-auto col-md-1">
            <div class=" border-start mx-auto h-100 w-25"></div>
        </div>
        <div class="col-12 col-md-3 text-center text-md-start">
            <p class="initialism text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.
            </p>
        </div>
        <div class="d-none d-md-block mx-auto col-md-1">
            <div class=" border-start mx-auto h-100 w-25"></div>
        </div>
        <div class="col-12 col-md-3 mx-auto text-center text-md-start">
            <p class="initialism text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.
            </p>
        </div>
    </div>
</section>